*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
  z-index: 100;
}




header{
  z-index: 1000;
}


footer {
  text-align: center;
}

h1{
  font-size: 35px;
  line-height: 36px;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  font-weight: 300;
  text-transform: uppercase;
  color:#333344;
  text-align: center;
  padding-top: 25px;

}


h3{
	font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  color:#333344;

}

p{
	font-size: 16px;

}

section {
	color: rgba(69, 69, 69, 0.9);

}	

p{
  color:#333344;
}

header{
        color: #f0ecec;
}

footer {
      background-color: #333344;
      color: #f0ecec;
}

footer p{
      color: #f0ecec;
}


.gray_style {
    background-color: rgba(51, 51, 68, 0.5);
}

.white_style{
    background-color: rgba(255, 255, 255, 0.9);  
}

.parallax{
  height: 768px;
  background-position: 50% 50%;
}


.top_line {
position: fixed;
margin: auto;
width: 100%;
z-index: 10001;
}

.top_line ul{
      list-style-type: none;
      padding-left: 0px;


}

.top_line ul li{
        display: inline-block;
        padding-right: 20px;
}

.top_line ul li a{
color: #fff;
font-size: 19px;
}

.contact {
  text-align: right;
}

.contact a{
color: #fff;
text-align: right;
}


.contact_phone{
font-size: 25px;
}

.float_l{
float: left;
}

.float_r{
  float: right;
}

.main_box{
  height: 100vh;
}

.slogan_box {
padding-top: 80px;
    color: #f0ecec;

}

.slogan_box p{

    color: #f0ecec;

}

.slogan_box span {
  font-size: 21px;
  color: orange;
}

.slogan_box_p {
  color: orange;
  font-size: 17px; 
}

.slogan_h1 {
  position: relative;
 /* top: 103px;*/
 padding-top: 29%

}

.slogan_box_phone_p {
 font-size: 27px;
}
.slogan_h1 h1{

    font-size: 53px;
    line-height: 53px;
}

.arrow {
  position: absolute;
  bottom: -100px;
  right: 0;
}
.arrow img{
width: 150px;
-moz-transform: rotate(35deg); /* Для Firefox */
    -ms-transform: rotate(35deg); /* Для IE */
    -webkit-transform: rotate(35deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(35deg); /* Для Opera */
 transform: rotate(35deg);
}

.main_form_box {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    color: #f0ecec;
    /*margin-top: 100px;*/
    margin-top: 40%;
    padding: 15px;
    text-align: center;
}

.main_form_box p{
    color: #333344;
}

.main_form_box h3{
  font-size: 27px
}


/* =========== форма обратной связи ============ */
.main_form_box {
  padding-bottom: 30px;
}


.main_form_box button {
  display: block; 
  width: 70%; 
  margin-bottom: 25px; 
  margin-right: auto;
  margin-left: auto;
    color: #333344;
      height: 35px;
}

.main_form_box input{
  display: block; 
  width: 70%; 
  margin-bottom: 25px; 
  margin-right: auto;
  margin-left: auto;
  height: 35px;
}






.main_form_box input {
  width: 70%;
  padding: 0 10px;
  box-sizing: border-box;
  height: 50px;
  line-height: 75px;
  text-align: center;
  background: none;
  color: #f0ecec;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 300;
  outline: none;
  border-bottom: 2px solid #bebebe;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}


.main_form_box input:focus {

  border-bottom: 2px solid #e1b52a;
color: #333344;


}



.main_form_box  .but_order{
  position: relative;
  overflow: hidden;
  font-weight: bold;
  cursor: pointer;
  height: 53px;
  width: 70%;
  max-width: 550px;
  margin: auto; 
  font-size: 21px;
  margin-top: 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #371400;
  font-weight: 300;
  border: none;
  outline: none;
  box-sizing: border-box;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8c335', endColorstr='#fdaa38',GradientType=0 );
  position: relative;
  overflow: hidden;
     
    background: rgba(0, 0, 0, 0.06);
    box-shadow: none;
    font-size: 27px;
    background: rgba(225, 181, 42, 0.74);
}
.main_form_box  button.but_order:active {
  top: 2px;
  box-shadow: none;
}
.main_form_box  button.but_order:hover {
  background-position: -200% 0, 0 0;
  background: rgba(225, 181, 42, 0.94);
}

.main_form_box input[type="text"] {
  display: block;
  line-height: 24px;
  margin: 0 auto 12px;
  width: 90%;
  color:  #2d2d2d;
}

/*==========  форма обратной связи END ==========*/


/*==========второй блок==========*/

.advantages {
  position: relative;
  //top: -80px;
  background-color: #fff;
  background-image: url(https://regnum.ru/uploads/pictures/news/2016/06/30/regnum_picture_14672874833594563_normal.jpg);
  background-size: cover;
  background-attachment: fixed;

}

.advantages h2 {
  padding-top: 25px;
    color: #fff;
}


.advantages ul {
  list-style-type: none;

}

.advantages ul li {
  vertical-align: top;
  width: 30%;
  margin-right: 1%;
  text-align: center;
  display: inline-block;
  margin-bottom: 25px;
  min-height: 200px;
  position: relative;

}


.advantages ul li img{
width: 115px;
}

.advantages ul li p{
font-size: 21px;
  color: #fff;

}

.advantages_about {
  height: 500px;
  background-image: url(http://lennikov.1gb.ru/livejournal/914493a26196_F981/save-on-car-insurance.jpg);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 30% 50%;
}
.advantages_about p{
font-size: 19px;
  }
.advantages_white_style{
    background-color: rgba(255, 255, 255, 0.5);
}

.advantages_white_style_07{
    background-color: rgba(255, 255, 255, 0.7);
}

/*========== второй блок конец ==========*/

/*========== блок достижения конец ==========*/
.orange{
  color: rgba(225, 181, 42, 0.74);
}

.padding_35 {
 padding: 35px 0px 55px 0px;
}

.numbers{
background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/blurry-car-lights-on-highway_wyobtfwbh__F0000.png);
background-position: 50% 50%;
background-size: cover;
background-attachment: fixed;

}
.numbers h2{
color: #fff;
padding-top: 0px;
}

.numbers ul{
text-align: center;
padding-left: 0px;
  list-style-type: none;
}

.numbers ul li{
  width: 24%;
  display: inline-block;
  color: #fff;
  vertical-align: top;
}

.numbers ul li p{
  color: #fff;
  font-size: 50px;
  margin-bottom: 0px; 
}

.numbers ul li span{
  font-size: 36px;
}


/*========== блок достижения конец ==========*/

/*========== Страховые случаи ==========*/
.insurance {

}

.insurance p{
text-align: left;
}
/*========== Страховые случаи конец ==========*/


/*========== Блок случаи ==========*/
.incident {

}


 .incident_about {
background-image: url(http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/shield-ok-icon.png);
background-repeat: no-repeat;
-webkit-background-size: auto;
background-size: 700px;
background-position: 30% 50%
}

.incident_about p {
  text-align: left;
}

.incident p{
  text-align: center;
}

.incident ul{
  list-style-type: none;
}

.incident ul li{
  width: 30%;
  margin-right: 1%;
 // background-color: gray; 
  text-align: center;
  display: inline-block;
  margin-bottom: 25px;
    height: 180px;
    overflow: hidden;
}


.incident ul li img{
  width: 100%;
  position: relative;
  top: -15px;
  transform: scale(1);
  opacity: 1;
       -webkit-transition:  0.7s linear 0s;
     -moz-transition:  0.7s linear 0s;
     -o-transition:  0.7s linear 0s;
     transition:  0.7s linear 0s;
}

.incident ul li img:hover{
  //top: -15px;
  opacity: 0;
  transform: scale(1.2);

}

.incident_img .incident_img_about{
  position: absolute;
  top: 10%;
  left: 10px;
}


.incident_img {
  position: relative;
}

/*========== Блок случаи Конец==========*/


.square{
      border: 3px solid orange;
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(45deg);
    width: 133px;
    margin: auto;
    height: 138px;
}


/*========== Как мы работаем ==========*/


.how_we_work {
position: relative;

}
.how_we_work h2{
color: #f0ecec;
position: relative;
top: 80px;

}
.how_we_work p{
color: #f0ecec;
margin-top:0;
}

.how_we_work ul{
  display: inline-block;
  text-align: center;
  position: relative;
  top: 150px;
}
.how_we_work ul li{
    display: inline-block;
    width: 18%;
    vertical-align: top;
}
.how_we_work ul li img{
  width: 115px;
    display: inline-block;
}


.how_we_work ul li span{
    font-size: 26px;
    font-weight: 900;
    color: rgba(225, 181, 42, 0.74)

}
/*========== Как мы работаем конец==========*/

/*==========  Отзывы ==========*/

.review {
  background-color: #fff;
}


/*==========  Отзывы конец ==========*/

/*========== Вопросы  ==========*/
.question {
 background-image: url(https://bisonstore.ru/d/606951/d/image_1591.jpg);
 background-size: 500px;
 background-repeat: no-repeat;
    background-position: 75% 50%;
}

.question p{
  text-align: center;
  font-size: 21px; 

}

.buttom_form_box {

}

/* =========== форма обратной связи ============ */

.buttom_form_box form{
width: 50%;
margin: auto;
}

.buttom_form_box button {
  display: block; 
  width: 100%; 
  margin-bottom: 25px; 
  margin-right: auto;
  margin-left: auto;
    color: #333344;
      height: 35px;
}

.buttom_form_box input{
  display: block; 
  width: 70%; 
  margin-bottom: 25px; 
  margin-right: auto;
  margin-left: auto;
  height: 35px;
}

.buttom_form_box input {
  width: 70%;
  padding: 0 10px;
  box-sizing: border-box;
  height: 50px;
  line-height: 75px;
  text-align: center;
  background: none;
  color: #f0ecec;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 300;
  outline: none;
  border-bottom: 2px solid #bebebe;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}


.buttom_form_box input:focus {

  border-bottom: 2px solid #e1b52a;
color: #333344;


}



.buttom_form_box  .but_order{
  position: relative;
  overflow: hidden;
  font-weight: bold;
  cursor: pointer;
  height: 53px;
  width: 70%;
  max-width: 550px;
  margin: auto; 
  font-size: 21px;
  margin-top: 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #371400;
  font-weight: 300;
  border: none;
  outline: none;
  box-sizing: border-box;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8c335', endColorstr='#fdaa38',GradientType=0 );
  position: relative;
  overflow: hidden;
     
    background: rgba(0, 0, 0, 0.06);
    box-shadow: none;
    font-size: 27px;
    background: rgba(225, 181, 42, 0.74);
}
.buttom_form_box  button.but_order:active {
  top: 2px;
  box-shadow: none;
}
.buttom_form_box  button.but_order:hover {
  background-position: -200% 0, 0 0;
  background: rgba(225, 181, 42, 0.94);
}

.buttom_form_box input[type="text"] {
  display: block;
  line-height: 24px;
  margin: 0 auto 12px;
  width: 90%;
  color:  #2d2d2d;
}

/*==========  форма обратной связи END ==========*/

/*========== Вопросы конец ==========*/
/*========== footer ==========*/

.footer {


}

.footer h3{
    font-size: 21px;
    font-weight: 300;
    text-transform: uppercase;
    color: #f0ecec;
    text-align: center;
}

/*========== footer end==========*/
/*==========КНОПКА ВВЕРХ ==========*/

.to_top {
    background-color: transparent;
    position: fixed;
    right: 0px;
    top: 0px;
    width: calc((100% - 1200px)/2);
    height: 100%;

  cursor: pointer;

}

.to_top_gray {
  background-color: transparent;
  width: 65px;
  height: 100%;
  position: absolute;
  right: 0px;
  top:0px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.to_top:hover .to_top_gray{
    background-color: rgba(198, 198, 198, 0.2);
}




.to_top p{
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 30px;
  opacity: 0.2
}

.to_top:hover p{

  opacity: 0.5
}

/*==========КНОПКА ВВЕРХ конец==========*/
/*========== Прелоадер ==========*/
    #page-preloader {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      z-index: 100500;
      overflow: hidden;
    }

    #page-preloader .spinner {
      width: 100px;
      height: 296px;
      position: absolute;
      left: 45%;
      top: 30%;
      background: url(img/loader4.gif) no-repeat 50% 50%;
      margin: -16px 0 0 -16px;
      background-size: cover;
    }
/*========== Прелоадер ==========*/


                      /*Мобильная версия*/

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

